%miq-tree-view{:name       => tree.name,
               :data       => "vm.data['#{tree.name}']",
               :reselect   => tree.locals_for_render[:allow_reselect],
               "ng-init"   => "vm.initData('#{tree.name}', '#{tree.locals_for_render[:bs_tree]}', '#{tree.locals_for_render[:select_node]}')",
               'on-select' => "vm.nodeSelect(node, '/#{request.parameters[:controller]}/tree_select')",
               'selected'  => "vm.selectedNodes['#{tree.name}']",
               'persist'   => 'key',
               'lazy-load' => "(vm.lazyLoad(node, '#{tree.name}', '/#{request.parameters[:controller]}/tree_autoload'))"}
-#%miq-tree-view{:name       => 'god_tree',
-#               :data       => "vm.treeData",
-#               :selected   => "vm.activeNode",
-#               'on-select' => "vm.nodeSelect(node)"}
